<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Payment</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" ></link>

</head>
<body>

<div layout:fragment="content">

  <div class="container">
 
  <div class="panel panel-default">
   
  <div class="panel-heading">Payment</div>
  
  <div class="panel-body">
  
 <form th:action="@{paypal/make/paiement}" method="get">
 <button type="submit" class="btn btn-primary"> Nouveau </button>
</form> 

<!-- <a  th:href="@{http://localhost:8090/paypal/make/paiement}">Clients</a> -->

</div>
</div>
</div>
</div>
</body>
</html>