<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sucses</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" ></link>

</head>
<body>

<div layout:fragment="content">

  <div class="container">
  <div class="spacer col-md-8 col-md-offset-2 col-xs-12 ">
 <div class="panel panel-default">
  
  <div class="panel-heading">Planification</div>
  <div class="panel-body">
<div>

</div>
 <form th:action="@{/savetacher}"    method="post" >

<input class="form-control" type="hidden" name="id" th:value=${idcamp} ></input>

<div>
 <label class="control-label">Date</label>
 <input class="form-control" type="date" name="datede" th:fieled="*{tacherr.datede}"></input>
 </div>
<div>
 <label class="control-label">Temps</label>
 <input class="form-control" type="time" name="timede" th:fieled="*{tacherr.timede}"></input>
 </div>
 <div><h1>                 </h1></div>
 <div><h1>                 </h1></div>
 <div><h1>                 </h1></div>
<div class="rbar">
    <button  type="submit"  class="btn btn-primary btn-block">Valider</button>  
 
  </div>
</form> 
</div>
</div></div></div></div>
</body>
</html>