<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  >

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="User account registration" />
  <meta name="author" content="nassim sebbagh" />
  <link rel="icon" href="favicon.ico" />

  <title>template</title>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" ></link> -->
  <link  href="http://www.toutcool.com/styles.css" rel="stylesheet" />

</head>
<body>


<header>

<div class="navbar navbar-default" > 
 
  <div class="container-fluid">
 <h1 class="h1">Tellzem<span class="Orange">.</span></h1>
   <ul class="nav navbar-nav navbar-right">
    <li > <a th:href="@{/}" th:inline="text" >Accueil </a></li>
    <li><a th:href="@{accompt(mail=${#httpServletRequest.remoteUser})}">Compte</a></li>
    
   <li > <a th:href="@{magasin(email=${#httpServletRequest.remoteUser})}" th:inline="text" >Commerces </a></li>
   <!--  <li><a th:href="@{shopmag(email=${#httpServletRequest.remoteUser})}">page</a></li> -->
    <li><a th:href="@{listemag(email=${#httpServletRequest.remoteUser})}">Coupons</a></li>
     <li><a th:href="@{campagne}">Campagnes</a></li>
 
 
  
        <li><a th:href="@{/login?logout}"><span class="glyphicon glyphicon-log-out"></span>Se déconnecter</a></li>
      </ul>
 </div>
 
 </div>  


 </header>
 
 
<!-- Servire pour le menu à droit



<nav class="nav nav-pills nav-stacked" style="list-style:none; float:left">
 <div>
 <ul class="nav nav-pills nav-stacked">
    <li > <a th:href="@{/login?logout}" th:inline="text" >Déconnecter </a></li>
    <li><a th:href="@{accompt(mail=${#httpServletRequest.remoteUser})}">Compte</a></li>
    <li><a th:href="@{shopmag(email=${#httpServletRequest.remoteUser})}">page</a></li>
    <li><a th:href="@{listemag(email=${#httpServletRequest.remoteUser})}">List Magasin</a></li>
</ul>

     

</div>
 
 </nav> -->

  
 
 <section layout:fragment="content"></section>
 
<footer  class="navbar-fixed-bottom" >
<hr/>

<div class="container">
<small> Copyright 2019</small>

</div>
 
 </footer>



</body>

</html>



